* + * { margin-top: 1.4em; }
* { margin-bottom: 0; }

body {
  margin: 40px auto;
  max-width: 80ch;
  line-height: 1.6;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
}

tr > td:first-child, th {
  font-size: 150%;
}

/* debugging */
/* table * { border: 1px solid; } */

tr > td ~ td {
  text-align: center;
  padding: 10px 20px;
  & > .toggle {
    margin-top: 0;
  }
}

.yellow { color: gold; }
.red { color: red; }
.pink { color: pink; }
.purple { color: purple; }
.suit { color: green; }
